.news-add-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #282b31;
  padding-top: 50px;
  padding-bottom: 50px;
}

.news-add-form {
  background-color: #373c46;
  padding: 50px;
  border-radius: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 500px;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: 20px;
  color: #dcdedf;
  font-weight: 500; 
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #3b3b3b;
  color: #dcdedf;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input:focus, textarea:focus {
  outline: none;
  background-color: #4b4b4b;
  border: 1px solid #66c0f4;
}

textarea {
  resize: vertical; 
  min-height: 100px;
}

.submit-button {
  font-size: 20px;
  background-color: #66c0f4;
  color: #1b1b1b;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.submit-button:hover {
  background-color: #558abf;
  transform: translateY(-2px); /* Slight lift effect */
}

.submit-button:active {
  transform: translateY(0); /* Remove lift effect */
  background-color: #41729f;
}