html {
  box-sizing: border-box;
  font-family: Bahnschrift, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 10px 20px;
  background-color: #5e70ba;
  color: #000;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-icon {
  height: 40px;
}
.burger-icon {
  height: 40px; 
}

.vertical-nav {
  position: fixed;
  top: 60px;
  left: 0;
  width: 15%;
  height: calc(100vh - 60px);
  background-color: #5e70ba;
  color: #000;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
  overflow-y: auto;
}

.nav--open {
  transform: translateX(0);
}

.nav-list {
  list-style: none;
  overflow: hidden;
}

.nav-item {
  width: 100%;
}

.nav-item a {
  display: block;
  padding: 15px 15px 15px 25px;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease;
  width: 100%;
}

.nav-item a:hover {
  background-color: #7180c3;
  color: #000;
  transform: scale(1.05);
}

.burger {
  padding: 0;
  background: none;
  border: none;
}

.burger:focus  {
  outline: none;
}